/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 3306px;
}
/* header  */

.header{
 display: flex;
 justify-content: space-between;
 height: 80px;
 align-items: center;
}
.icon{
    margin-left: 8.33%;
    font-size: 24px;
}
.menu{
 display: flex;
 align-items: center;
 gap: 20px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-text{
  width: 584px;  
  height: 270px;
  margin-left: 40px;
  margin-top: 283px;
}
button{
    width: 116px;
    height: 24px;
    background-color:  #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    border: 1px solid #E02C6D ;
}
.fa-solid{
    color: #FFFFFF;
}
.logos-container{
    display: flex;
    width: 1110px;
    height: 110px;
    margin-left: 165px;

}
.logos-container img{
    margin-left: 20px;
} 
.logos-menu{
    width: 986px;
    height: 40px;
    margin-left: 227px;
}